<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Adventure.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Adventure.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <Adventure.Properties.Settings>
            <setting name="Version" serializeAs="String">
                <value>0.1.0</value>
            </setting>
            <setting name="MaxUsers" serializeAs="String">
                <value>3</value>
            </setting>
        </Adventure.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Adventure.Properties.Settings>
            <setting name="Username0" serializeAs="String">
                <value />
            </setting>
            <setting name="Password0" serializeAs="String">
                <value />
            </setting>
            <setting name="Username1" serializeAs="String">
                <value />
            </setting>
            <setting name="Password1" serializeAs="String">
                <value />
            </setting>
            <setting name="Username2" serializeAs="String">
                <value />
            </setting>
            <setting name="Password2" serializeAs="String">
                <value />
            </setting>
        </Adventure.Properties.Settings>
    </userSettings>
</configuration>