<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Adventure.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Adventure.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <Adventure.Properties.Settings>
            <setting name="LoginAPI" serializeAs="String">
                <value>users/login.php</value>
            </setting>
            <setting name="RegisterAPI" serializeAs="String">
                <value>users/register.php</value>
            </setting>
            <setting name="APIBaseAddress" serializeAs="String">
                <value>https://dayloncrider.com/dev/api/adventure/</value>
            </setting>
            <setting name="UserReadAPI" serializeAs="String">
                <value>users/read.php</value>
            </setting>
            <setting name="CharacterReadAPI" serializeAs="String">
                <value>characters/read.php</value>
            </setting>
            <setting name="ItemReadAPI" serializeAs="String">
                <value>items/read.php</value>
            </setting>
            <setting name="CharacterCreateAPI" serializeAs="String">
                <value>characters/create.php</value>
            </setting>
            <setting name="QuestReadAPI" serializeAs="String">
                <value>quests/read.php</value>
            </setting>
            <setting name="SpellReadAPI" serializeAs="String">
                <value>spells/read.php</value>
            </setting>
            <setting name="StatReadAPI" serializeAs="String">
                <value>stats/read.php</value>
            </setting>
            <setting name="StateReadAPI" serializeAs="String">
                <value>states/read.php</value>
            </setting>
            <setting name="RaceReadAPI" serializeAs="String">
                <value>races/read.php</value>
            </setting>
            <setting name="NPCReadAPI" serializeAs="String">
                <value>npcs/read.php</value>
            </setting>
            <setting name="QuestRewardReadAPI" serializeAs="String">
                <value>questrewards/read.php</value>
            </setting>
            <setting name="VersionAPI" serializeAs="String">
                <value>version.php</value>
            </setting>
            <setting name="InventoryAddAPI" serializeAs="String">
                <value>inventory/create.php</value>
            </setting>
            <setting name="InventoryReadAPI" serializeAs="String">
                <value>inventory/read.php</value>
            </setting>
            <setting name="CharacterUpdateAPI" serializeAs="String">
                <value>characters/update.php</value>
            </setting>
            <setting name="InventoryUpdateAPI" serializeAs="String">
                <value>inventory/update.php</value>
            </setting>
            <setting name="QuestLogReadAPI" serializeAs="String">
                <value>questlog/read.php</value>
            </setting>
            <setting name="QuestLogUpdateAPI" serializeAs="String">
                <value>questlog/update.php</value>
            </setting>
            <setting name="QuestLogCreateAPI" serializeAs="String">
                <value>questlog/create.php</value>
            </setting>
        </Adventure.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Adventure.Properties.Settings>
            <setting name="Version" serializeAs="String">
                <value>0.1</value>
            </setting>
        </Adventure.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>