<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Adventure.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <Adventure.Properties.Settings>
            <setting name="Version" serializeAs="String">
                <value>0.1.0</value>
            </setting>
            <setting name="LoginAPI" serializeAs="String">
                <value>api/adventure/users/login.php</value>
            </setting>
            <setting name="RegisterAPI" serializeAs="String">
                <value>api/adventure/users/register.php</value>
            </setting>
            <setting name="APIBaseAddress" serializeAs="String">
                <value>https://dayloncrider.com/dev/</value>
            </setting>
            <setting name="UserReadAPI" serializeAs="String">
                <value>api/adventure/users/read.php</value>
            </setting>
            <setting name="CharacterReadAPI" serializeAs="String">
                <value>api/adventure/characters/read.php</value>
            </setting>
            <setting name="ItemReadAPI" serializeAs="String">
                <value>api/adventure/items/read.php</value>
            </setting>
            <setting name="CharacterCreateAPI" serializeAs="String">
                <value>apiadventure/characters/create.php</value>
            </setting>
        </Adventure.Properties.Settings>
    </applicationSettings>
</configuration>